# SpawnUtil.moveToPossibleSpawnPosition is package-private in vanilla
public net.minecraft.util.SpawnUtil moveToPossibleSpawnPosition(Lnet/minecraft/server/level/ServerLevel;ILnet/minecraft/core/BlockPos$MutableBlockPos;Lnet/minecraft/util/SpawnUtil$Strategy;)Z
